<div class="container">

  <div id="new-answer">
    <% form_for @answer do |f| %>
      <%= f.label :content%>:
      <%= f.text_field :content%><br />

      <%= f.submit %>
    <% end %>
  </div>

</div>
