<div class="container">

  <div id="questions-container">
    <% @questions.each do |question| %>

      <div id="votes">
        <div class="arrow-up"></div>
          <br>
        <div class="arrow-down"></div>
      </div>

      <a id="question-link" href="/questions/<%= question.id %>"><h2 id="question-title"><%= question.title %></h2></a>
      <a id="user-link" href="/users/<%= question.user.id %>"><h4 id="question-user"><%=question.user.name%></h4></a>
<!--     <p  id="question-content"><%=question.content%></p> -->

    <% end %>
  </div>
</div>
