<% @questions.each do |question| %>
  <div id="questions-container">

    <div class="col-md-1">
      <div class="arrow-up"></div><br>
      <div class="arrow-down"></div>
    </div>

    <div class="col-md-1">
      <%= question.votes.count %>
    </div>

    <div class="col-md-1">
      <%= question.answers.count %>
    </div>

    <div class="col-md-9">
      <h4><%= link_to question.title, question_path(question) %></h4>
      <%= link_to question.user.name, profile_path(question.user.slug) %>
    </div>

  <hr></hr>

  </div>
<% end %>






<!--  <%# if current_user %>
  <%#= link_to "upvote", root_path %>
  <%#= link_to "downvote", root_path %>
<%# else %>
  <%#= link_to "upvote", root_path %>
  <%#= link_to "downvote", root_path %>
<%# end %> -->

<!-- <p id="question-content"><%#=question.content%></p> -->

<!-- <div style="background-color: #d3d3d3; margin-bottom: 30px;padding-left: 60px;padding-top: 10px;padding-bottom: 10px">
      <div style="background:#fff; width:1050px;"> -->

<!-- </div> -->
>>>>>>> added grid to index page to display votes, counts, and questions
