<div class="container">

  <div class="questions-container">
    <% @questions.each do |question| %>

      <div class="votes">
        <div class="arrow-up"></div>
          <br>
        <div class="arrow-down"></div>
      </div>

      <h2 class="question-title"><%= link_to question.title, question %></h2>
      <h4><%= link_to question.user.name, profile_path(question.user.slug) %></h4>
    <% end %>
  </div>


</div>
