/**************** LAYOUT ****************/

.container {
  width: 1200px;
  position: relative;
  top: 100px;
}

html {
  background-color: #ECECEA;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

header {
  font-size: 25px;
  padding: .75%;
  display: inline-block;
  width: 100%;
  background: #558C89;
  color: #ECECEA;
  text-align: center;
}

header a {
  text-decoration: none;
  color: #ECECEA;
}

header a:hover {
  color: #D9853B;
}

footer {
  position: absolute;
  bottom:0;
  width: 100%;
  background: #558C89;
  text-align: center;
  padding-top: 10px;
  color: #ECECEA;
  margin-left: -8px;
}

a, p, h1, h2, h3, h4, h5 {
  color: #558C89;
}

a:hover {
  color: #74AFAD;
}

/**************** QUESTIONS / ANSWERS ****************/

.questions-container {
  padding-left: 15px;
  padding-top: 80px;
}

.question-title {
  margin-bottom: 3px;
  margin-left: 35px;
  text-decoration: underline;
}

.question-user {
  margin-top: 3px;
  margin-left: 35px;
}

.answer {
  padding-left: 15px;
  border: 2px solid #558C89;
  margin-bottom: 10px;
  padding: 15px;
}

.answer-user {
  margin-top: 3px;
  margin-left: 35px;
  margin-bottom: 0px;

}

.answer-content {
  margin-left: 35px;
  margin-top: 0px;

}

/**************** VOTES ****************/

.votes {
  display: block;
  float: left;
  margin-right: 8px;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid black;
}

.arrow-up:hover {
  border-bottom: 8px solid #D9853B;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid black;
}

.arrow-down:hover {
  border-top: 8px solid #D9853B;
}


/************** INDEX **************/

table {
  width: 100%;
  margin: auto;
}

.small-data {
  border-bottom: 1px solid #CFCFCF;
  text-align: center;
  width: 70px;
  padding-left: 60px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#question-data {
  border-bottom: 1px solid #CFCFCF;
  padding-left: 70px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/*
.header {
    padding-top: 50px;
    background-color: #eee;
    overflow: hidden;
}

*/
.btn {
    padding-left: 25px;
    padding-right: 25px;
    background-color:#d3d3d3;
}
.btn-circle {
    border-radius: 20px;
}

.input-group input {
    border: 0;
    box-shadow: none;
    padding-right: 30px;
}
.input-group input:focus,
.input-group input:active {
    outline: 0;
    box-shadow: none;
}
.input-group-btn:last-child>.btn {
    z-index: 2;
    margin-left: -18px;
    border-radius: 20px;
}


/*</style>
  <footer>Yoon ITL Fortune 500</footer>
</html>
*/


/**************** PROFILE ****************/

