/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/**************** LAYOUT ****************/

html {
  background-color: #ECECEA;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}


/**************** QUESTIONS / ANSWERS ****************/



.votes { 
  display: block;
  float: left;
  margin-right: 8px;
}

.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid black;
}

.arrow-up:hover {
  border-bottom: 8px solid #D9853B;
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid black;
}

.arrow-down:hover {
  border-top: 8px solid #D9853B;
}
