<!DOCTYPE html>
<html>
  <head>
    <title>YoonOverflow</title>
      <%= stylesheet_link_tag 'application' %>
      <%= javascript_include_tag 'application' %> 
      <%= csrf_meta_tags %>
  </head>
<header>
  <h1><a href='/'>Yoon Overflow</a></h1>
</header>
  <body>
    <%= yield %>
  </body>

  <footer>Yoon ITL Fortune 500</footer>
</html>
